body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
   
}

.header {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
}

.action {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px 30px;
    font-weight: 600;
    width: fit-content;
}

.action button {
    border-style: solid;
    border-color: white;
}

.bottom-header button {
    border-width: 0;
}

.text-header .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text-header .secondary {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote .main {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote .secondary {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.action .main {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
}

.action .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 0px;
    text-align: center;
}

/* SOLUTION */

body {
    width: 100%;
    margin: 0px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-between;
    flex: 1 1 80%;
    width: 80%;
 
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex: 1 1 80%;
    gap: 50px;
}

.text-header {
    display: flex;
    flex-direction: column;
}

.header-image {
    display: inline-flex;
    width: 1000px;
    height: 250px;
    flex: ;
}

.text-header button {
    margin-top: 10px;
}

.header-image img {
    width: 100%;
    object-fit: fill;
}
